<div class="col-md-6 max-auto container-fluid">
  <div class="col-md-6 mx-auto card user-card" style="margin-bottom: 10px;margin-top: 10px;">
    <h6 class="h6 light-green-color" style="margin-top: 10px;" >Apply For Loan</h6>
    <div class="col-md-6 mx-auto">
      <hr class="fading_line">
    </div>
    <h6 class="h6 light-green-color" style="margin-top: 10px;">Sorry you are failed to fulfill criteria!!</h6>
    <h6 class="stext light-green-color" style="margin: 10px;margin-bottom: 20px;">Your loan application for <br> Rs.{{loanAmount}} has been <br> denied!!</h6>
    <input type="button" class="btn-secondary btn-block next-button" value="Ok" name="okButton" style="margin-top: 20px;margin-bottom: 20px" (click)=" onOkClick()"> 
  </div>
</div>
