<div class="col-md-6 max-auto container-fluid">
  <div class="col-md-6 mx-auto card user-card" style="margin-bottom: 10px;margin-top: 10px;">
    <h6 class="h6 light-green-color" style="margin-top: 10px;">Apply For Loan</h6>
    <div class="col-md-6 mx-auto">
      <hr class="fading_line">
    </div>
    <div class="card-block" style="margin: 8px">
        <h6 class="h6 light-green-color" style="margin-top: 10px;">Calculate Eligibility</h6>
        <div align="center" style="margin-top: 40px;margin-bottom: 20px">
            <mat-spinner class="mat-spinner-color" 
                         [value] = '50'>
            </mat-spinner>
        </div>
    </div>
  </div>
</div>


 